@model Shooping.Data.Entities.City

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Se esta borrando la ciudad, ¿Desea continuar con el borrado?</h3>
<div>

    <patial name="_CityDetails" /> <!--Hace llamado de la Vista parcial-->
</div>
<div>
    <form asp-action="DeleteCity">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-outline-danger" />
        <a asp-action="DetailsState" asp-route-id="@Model?.State.Id" class="btn btn-outline-success">Regresar</a>
    </form>
</div>
